.search-container {
    width: 25em;
    border-radius: 5px 2em 2em 5px;
}

.search-container input {
    display: block;
    width: 19em;
    padding: 10px;
    border-radius: 0.25;
    border: 1px solid #ced4da;
    margin: 5px auto auto;
}

.busca {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    float: left;
    width: 0em;
    height: 2em;
    margin: 1em;
    margin-right: -4.5em;
    background: #fff;
    color: #6A5D4F;
    font-size: 1em;
    font-weight: 600;
    padding: 0px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2) inset;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-transition: all 0.25s;
    -webkit-transition: all 0.25s;
}

.busca:focus {
    outline: none;
    box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.25), 0 1px 5px rgba(0, 0, 0, 0.15);
}

.button {
    float: left;
    width: 1.75em;
    height: 1.75em;
    margin: 0.125em;

    /*background: #6A5D4F;*/
    text-align: center;
    font-size: 2em;
    color: #FDF6E3;
    border-radius: 50%;
    box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.25), 0 1px 1px rgba(0, 0, 0, 0.25);
    text-shadow: 0 -2px 1px rgba(0, 0, 0, 0.3);
}

.button .i {
    margin-top: 0.3em;
}

.button:active {
    border: 0 !important;
    text-shadow: 0 0 0;
}

.i {
    width: 30px;
}