<%@page import="java.io.File"%>
<%@page import="javax.imageio.ImageIO"%>
<%@page import="java.awt.Toolkit"%>
<%@page import="java.awt.image.BufferedImage"%>
<%@page import="java.awt.Rectangle"%>
<%@page import="java.awt.AWTException"%>
<%@page import="java.awt.Robot"%>
<%@page import="Procedimiento.Metodos_liquidacion"%>
<%@page import="java.text.NumberFormat"%> 
<%@page import="java.util.Locale"%> 
<%@page import="modelo.DAO.LiquidacionDAO"%> 
<%@page import="modelo.DAO.EstadoLiquidacionDAO"%> 
<%@page import="modelo.DAO.ServiciosPrestadosDAO"%> 
<%@page import="modelo.DAO.ServicioDAO"%> 
<%@page import="java.util.LinkedList"%> 
<%@page import="java.util.List"%> 
<%@page import=" static Controlador.traedatos.*"%> 
<!doctype html> 
<html lang="en">      
    <head> 
        <meta charset="utf-8"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
        <meta name="description" content=""> 
        <meta name="author" content=""> 
        <title>Dashboard Template for Bootstrap</title>         
        <!-- Bootstrap core CSS -->         
        <link href="bootstrap/css/bootstrap.css" rel="stylesheet"> 
        <!-- Custom styles for this template -->         
        <link href="dashboard.css" rel="stylesheet"> 
        <!--clockpicker-->         
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>         
        <script src="https://weareoutman.github.io/clockpicker/dist/jquery-clockpicker.min.js"></script>         
        <link rel="stylesheet" href="https://weareoutman.github.io/clockpicker/dist/jquery-clockpicker.min.css"> 
        <!--clockpicker-->         
        <!--captura pantallas-->
        <!-- -->
    </head>     
    <body onload="carga"> 
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow"> 
</nav>         
        <div class="container-fluid"> 
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 mb-5"> 
                <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"> 
                    <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"> 
                        <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>                         
                    </div>                     
                    <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"> 
                        <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>                         
                    </div>                     
                </div>                 
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"> 
                    <h1 class="h2">Liquidacion de Servicios</h1> 
                    <div class="btn-toolbar mb-2 mb-md-0"> 
</div>                     
                </div>                 
                <div name="datos" lass="row"> 
                    <div class="order-md-1 text-left bg-white pr-5 pb-5 pl-5 col-md-12 "> 
                        <h4 class="mb-3 mt-auto">Datos del Vehiculo</h4> 
                        <script>
                                var turnojas =<%out.print(turnodejsp);%>;
                                var placajas =<%out.print(placadejsp);%>;
                            </script>
                        <script>
                                function carga() {

                                    if (turnojas !== "undefined" && placajas !== "undefined") {
                                        document.getElementById("consultare").click();
                                    }

                                }

                            </script>
                        <form class="container" id="needs-validation" novalidate method="post" action="registroLiquidacion"> 
                            <div class="row"> 
                                <div class="mb-3 col-md-3">Placa del Vehiculo
                                    <br> 
                                    <div class="invalid-feedback"> 
                                        Valid first name is required.
</div>                                     
                                </div>                                 
                                <div class="mb-3 col-md-3">Turno
                                    <br> 
                                    <div class="invalid-feedback"> 
                                        Valid first name is required.
</div>                                     
                                </div>                                 
                                <!--BOTON DE CONSULTA-->                                 
                                <iframe style="display: none" d='frm1' src='traedatos' marginwidth='0' marginheight='0' name='ventana_iframe' scrolling='no' border='0' frameborder='0' width='300' height='200'> 
</iframe>                                 
                                <!--este consulta-->                                 
                                <div class="invalid-feedback"> 
                                    Valid last name is required.
</div>                                 
                            </div>                             
                            <hr class="bg-primary"> 
                            <div class="row p-auto mr-auto ml-auto mb-2 mt-2"> 
                                <h4 class="m-5 m-auto col-md-4">Servicios Realizados</h4> 
                                <h4 class="m-auto col-md-4">Costo del Servicio</h4> 
                                <h4 class="m-auto col-md-4">Costo Total Servicioso</h4> 
                            </div>                             
                            <div class="row"> 
                                <div class="col-md-4 mb-0"> 
                                    <div class="invalid-feedback"> 
                                        Valid last name is required.
</div>                                     
                                </div>                                 
                            </div>                             
                            <div class="invalid-feedback"> 
                                Valid first name is required.
</div>                             
                            <div class="row p-auto mt-3"> 
                                <div class="col-md-6 col-lg-4 m-auto"> 
                                    <h4 class="p-auto ml-auto mb-auto mr-auto mt-auto ml-3 mb-3 mr-3 m-auto">Descuento %</h4> 
                                </div>                                 
                                <div class="col-md-6 col-lg-4 mt-auto mb-auto">Porcetaje de descuento
                                    <br> 
                                    <div class="invalid-feedback"> 
                                        Valid first name is required.
</div>                                     
                                </div>                                 
                                <h4 class="m-auto">Valor Total a Pagar</h4>
                                <div class="mb-3 col-md-4"> 
                                    <div class="invalid-feedback"> 
                                        Valid last name is required.
</div>                                     
                                </div>                                 
                            </div>                             
                            <div class="row"> 
                                <div style="display: none" lass="col-md-6 mb-3">idvehiculo
                                    <br> 
                                    <input type="text" class="form-control" id="idVehiculo" placeholder="" name="idVehiculo" value="<%out.print(idvehiculo);%>" required=""> 
                                    <div class="invalid-feedback"> 
                                        Valid first name is required.
</div>                                     
                                </div>                                 
                                <div class="mb-3 col-md-4">Fecha de Salida
                                    <br> 
                                    <input type="date" class="form-control" id="fechaSalida" name="fechaSalida" placeholder="" value="" required=""> 
                                    <div class="invalid-feedback"> 
                                        Valid first name is required.
</div>                                     
                                </div>                                 
                                <div class="col-md-6 mb-3 col-lg-4">Hora de Salida
                                    <br> 
                                    <input type="text" class="form-control" id="horaSalida" name="horaSalida" placeholder="" value="" required=""> 
                                    <script>
                                            $("input[name=horaSalida]").clockpicker({
                                                placement: 'bottom',
                                                align: 'left',
                                                autoclose: true,
                                                default: 'now',
                                                donetext: "Select"
                                            });
                                        </script>                                     
                                    <div class="invalid-feedback"> 
                                        Valid last name is required.
</div>                                     
                                </div>                                 
                                <div class="mb-3 col-md-3 col-lg-4">Estado de la Liquidacion
                                    <br> 
                                    <select class="custom-select d-block w-100" required="" id="estadoLiquidacion" name="estadoLiquidacion"> 
                                        <option value="" disabled selected="disabled selected">seleccione una opcion</option>                                         
                                        <%
                                                //LLenandose :)
                                                for (int i = 0; i < listaEstados.size(); i++) {%> 
                                            <option name="tipos"> 
                                                <%out.print(listaEstados.get(i));%> 
                                            </option>                                             
                                        <%  }%> 
                                    </select>                                     
                                    <div class="invalid-feedback"> 
                                        Valid first name is required.
</div>                                     
                                </div>                                 
                            </div>                             
                            <div class="invalid-feedback"> 
                                Valid first name is required.
</div>                             
                            <table class="table"> 
                                <thead> 
                                    <tr> 
                                        <th>Servicios Realizados</th> 
                                        <th>Servicios Realizados</th> 
                                    </tr>                                     
                                </thead>                                 
                                <tbody> 
                                    <tr> 
                                        <th scope="row">Lavado</th> 
                                        <td>10000</td> 
                                    </tr>                                     
                                    <tr> 
                                        <th scope="row">Polichado</th> 
                                        <td>20000</td> 
                                    </tr>                                     
                                    <tr> 
                                        <th scope="row">Cambio de Aceite</th> 
                                        <td>30000</td> 
                                    </tr>                                     
                                    <tr> 
                                        <th scope="row">Costo Total Servicioso</th> 
                                        <td>60000</td> 
                                    </tr>                                     
                                    <tr> 
                                        <th scope="row">Descuento</th> 
                                        <td>15%</td> 
                                    </tr>                                     
                                    <tr> 
                                        <th scope="row">Total a pagar</th> 
                                        <td>60000</td> 
                                    </tr>                                     
                                </tbody>                                 
                            </table>
                            <hr class="mb-4 bg-primary"> 
                            <div class="row"> 
</div>                             
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
                            <script src="https://superal.github.io/canvas2image/canvas2image.js"></script>
                            <script src="//cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
                            <script>
                                            function CapturaFoto() {


                                                html2canvas(document.getElementsByName('datos'), {

                                                    onrendered: function (canvas) {
                                                        canvas,
                                                                ctx = canvas.getContext('2d');
                                                        dpi = window.devicePixelRatio;

                                                        function fix_dpi() {
                                                            let style = {
                                                                height() {
                                                                    return +getComputedStyle(canvas).getPropertyValue('height').slice(0, -2);
                                                                },
                                                                width() {
                                                                    return +getComputedStyle(canvas).getPropertyValue('width').slice(0, -2);
                                                                }
                                                            }
                                                            canvas.setAttribute('width', style.width() * dpi);
                                                            canvas.setAttribute('height', style.height() * dpi);
                                                        }

                                                        function draw() {
                                                            //call the dpi fix every time 
                                                            //canvas is redrawn
                                                            fix_dpi();

                                                            //draw stuff!
                                                            ctx.strokeRect(30, 30, 100, 100);
                                                            ctx.font = "30px Arial";
                                                            ctx.fillText("Demo!", 35, 85);
                                                            requestAnimationFrame(draw);
                                                        }
                                                        requestAnimationFrame(draw);



                                                        const pdf = new jsPDF({

                                                            orientation: canvas.width >= canvas.height ? 'landscape' : 'portrait',
                                                            unit: 'pt',
                                                            format: [canvas.width, canvas.height],

                                                        });



                                                        // document.body.appendChild(canvas);
                                                        //Canvas2Image.saveAsJPEG(canvas,canvas.width, canvas.height);





                                                        pdf.addImage(canvas.toDataURL('image/png'), 'PNG', 30, 45, 0, 0);
                                                        pdf.save("download.pdf");

                                                    }
                                                });
                                            }
                                            function ocultarbtns() {

                                                document.getElementById("generarLiquidacion").style.display = "none";
                                                document.getElementById("consultare").style.display = "none";
                                                document.getElementById("needs-validation").style.width="99%";
                                            }
                                            function mostrarbtns() {
                                                document.getElementById("generarLiquidacion").style.display = "block";
                                                document.getElementById("consultare").style.display = "block";
                                                document.getElementById("menu").style.display = "block";
                                            }

                                </script>
                            <!-- funcion genera pdf -->
                        </form>                         
                        <script>
                                // Example starter JavaScript for disabling form submissions if there are invalid fields
                                (function () {
                                    'use strict';
                                    window.addEventListener('load', function () {
                                        var form = document.getElementById('needs-validation');
                                        form.addEventListener('submit', function (event) {
                                            if (form.checkValidity() === false) {
                                                event.preventDefault();
                                                event.stopPropagation();
                                            }
                                            form.classList.add('was-validated');
                                        }, false);
                                    }, false);
                                })();
                            </script>                         
                    </div>
                </div>                 
            </main>             
        </div>         
        <!-- Bootstrap core JavaScript
    ================================================== -->         
        <!-- Placed at the end of the document so the pages load faster -->         
        <script src="assets/js/jquery.min.js"></script>         
        <script src="assets/js/popper.js"></script>         
        <script src="bootstrap/js/bootstrap.min.js"></script>         
        <!-- Icons -->         
        <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>         
        <script>feather.replace()</script>         
        <!-- Graphs -->         
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>         
        <script>
                        var ctx = document.getElementById("myChart");
                        var myChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
                                datasets: [{
                                        data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
                                        lineTension: 0,
                                        backgroundColor: 'transparent',
                                        borderColor: '#007bff',
                                        borderWidth: 4,
                                        pointBackgroundColor: '#007bff'
                                    }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                            ticks: {
                                                beginAtZero: false
                                            }
                                        }]
                                },
                                legend: {
                                    display: false,
                                }
                            }
                        });
        </script>         
    </body>     
</html>